<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>Stevens Resource</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="static/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="static/css/main.css" type="text/css" rel="stylesheet" media="screen,projection" />
  </head>
  <body>
    <nav class="red" role="navigation">
      <div class="nav-wrapper container">
        <ul class="right">
          <li class="active"><a href="#">About</a></li>
          <li><a href="\">Upload</a></li>
          <li><a href="\resource">Resources</a></li>
        </ul>
      </div>
    </nav>
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center red-text">Welcome to our Stevens Resource Page!</h1>
        <div class="row center">
          <a href="../" class="btn-large waves-effect waves-light red">File Upload</a>
        </div>
        <br><br>
      </div>
    </div>
    <div class="container">
      <div class="section">
        <div class="row">
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center light-red-text"><i class="material-icons">assessment</i></h2>
              <h5 class="center">Old Exams</h5>
              <p class="light">All the old tests that are uploaded can be looked at by any user. Upload a test or view one by checking the data base. Old tests great way to study for upcoming exams. </p>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center light-red-text"><i class="material-icons">note_add</i></h2>
              <h5 class="center">Study Sheets</h5>
              <p class="light">Study sheets are a useful tool to help students understand the material that they are learning for their upcoming tests. It gives an overview usually of what material will be on the test and equations formulas and sometimes definitions of useful vocabulary.</p>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center light-red-text"><i class="material-icons">perm_media</i></h2>
              <h5 class="center">Syllabi</h5>
              <p class="light">Syllabi are useful tool that help students understand the contents of the course and also the grading distribution. They can also tell you a little bit about the professor, when subjects will be covered in the class and sometimes your final exam date if it is already been posted. </p>
            </div>
          </div>
        </div>
      </div>
      <br><br>
    </div>
    <script src="static/js/jquery-3.2.1.min.js"></script>
    <script src="static/js/materialize.min.js"></script>
    <script src="static/js/main.js"></script>
  </body>
</html>
