<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>Stevens Resource</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="static/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="static/css/main.css" type="text/css" rel="stylesheet" media="screen,projection" />
  </head>
  <body>
    <nav class="red" role="navigation">
      <div class="nav-wrapper container">
        <ul class="right">
          <li><a href="/about">About</a></li>
          {%if links%}
            <li><a href="\">Upload</a></li>
            <li class="active"><a href="\resource">Resources</a></li>
          {%else%}
            <li class="active"><a href="#">Upload</a></li>
            <li><a href="\resource">Resources</a></li>
          {%endif%}
        </ul>
      </div>
    </nav>
    <div class="container">
      <div class="section">
        <div class="row">
          {%if links%}
          <div class="row">
            <form action="/resource" method='POST'>
              <div class="col s6">
                <select type="text" name="sel" id="sel" class="browser-default black-text">
                  <option value="" disabled selected style="display:none;" method="post">Course Code</option>
                  {%for course in courses%}
                    <option>{{course}}</option>
                  {%endfor%}
                </select>
              </div>
              <div class="col s6">
                <input type="submit" class="waves-effect waves-light btn" value="Search"/>
              </div>
            </form>
          <div class="col s12">
            <div class="links" style="margin-left:0%">
              <table style="width:100%;" class="highlight">
                <thead>
                  <tr>
                    <th> Class </th>
                    <th> Professor </th>
                    <th> Link </th>
                  </tr>
                </thead>
                <tbody>
                  {%for link in links%}
                  <tr>
                    <td>{{link[0]}}</td>
                    <td>{{link[1]}}</td>
                    <td><a href={{link[2]}} target="_blank" rel="noopener noreferrer">{{link[3]}}</a></td>
                  </tr>
                  {%endfor%}
                </tbody>
              </table>
            </div>
            {%else%}
          </div>
        </div>
        <div class="box">
          <form action="/" method="post">
            <input type="text" name="course" id="course" placeholder="Course Code" required/><br>
            <input type="text" name="professor" id="professor" placeholder="Professor" required/><br>
            <input type="text" name="http" id="http" placeholder="https://www.stevens.edu" required/><br>
            <input type="text" name="description" id="description" placeholder="Link Description" required/><br>
            <input type="submit" class="waves-effect waves-light btn right-align" value="Upload"/>
          </form>
        </div>
        {%endif%}
      </div>
      <br><br>
    </div>
    <script src="static/js/jquery-3.2.1.min.js"></script>
    <script src="static/js/materialize.min.js"></script>
    <script src="static/js/main.js"></script>
  </body>
</html>
